.carrierPanel {
    background: #ebcccc;
    padding: 5px;
    margin-top: 10px;
}

.tab-content{
    .show {
        opacity: 1;
    }
}

.carriers-show, .customers-show, .loads-show {
    .nav-tabs {
        #load-tab {
            background: #c4e3f3;
        }
        #carrier-tab {
            background: #ebcccc;
        }
        #customer-tab {
            background: #d0e9c6;
        }
        #documents-tab {
            background: #8a6d3b;
        }
        #notes-tab {
            background: #767e83;
        }

        a {
            font-weight: bold;
            color: white;
            cursor: pointer !important;
        }
    }

    .tab-pane {
        margin-top: 10px;

        .card-header{
            background: #ebcccc;
        }

        .tab-item {
            margin-top: 5px;
        }

        .insurance-policy {
            .card {
                padding: 2px;
            }
        }
    }
}

.loads-show {
    .shipper-cards {
        .card-header{
            background: #c4e3f3 !important;
        }
        .card-body{
            background: #bee9ff !important;
        }
    }
    .carrier-cards {
        .shipper-info {
            .card-body{
                background: #ebcccc;
            }
        }
    }
}

.customers-show {
    .card-header{
        background: #d0e9c6 !important;
    }

    .card {
        col-md-4{
            padding-bottom: 5px ;
        }
    }
}

.customer-create {
    .customerPanel {
        background: #d0e9c6;
        padding: 5px;
        margin-top: 10px;
    }

}

.panelTitleLinkContainer {
    text-align: right;
    font-size: 12px;
    padding-top: 5px;

    .panelTitleLinkContainer a {
        margin-left: 10px;
    }
}

#createLoadModal {
    .modal-dialog {
        position: initial;
    }
}
