.carrierPanel {
  background: #ebcccc;
  padding: 5px;
  margin-top: 10px;
}

.tab-content .show {
  opacity: 1;
}

.carriers-show .nav-tabs #load-tab,
.customers-show .nav-tabs #load-tab,
.loads-show .nav-tabs #load-tab {
  background: #c4e3f3;
}

.carriers-show .nav-tabs #carrier-tab,
.customers-show .nav-tabs #carrier-tab,
.loads-show .nav-tabs #carrier-tab {
  background: #ebcccc;
}

.carriers-show .nav-tabs #customer-tab,
.customers-show .nav-tabs #customer-tab,
.loads-show .nav-tabs #customer-tab {
  background: #d0e9c6;
}

.carriers-show .nav-tabs #history-tab,
.customers-show .nav-tabs #history-tab,
.loads-show .nav-tabs #history-tab {
  background: #dfcceb;
}

.carriers-show .nav-tabs #accounting-tab,
.customers-show .nav-tabs #accounting-tab,
.loads-show .nav-tabs #accounting-tab {
  background: #999999;
}

.carriers-show .nav-tabs #documents-tab,
.customers-show .nav-tabs #documents-tab,
.loads-show .nav-tabs #documents-tab {
  background: #8a6d3b;
}

.carriers-show .nav-tabs #notes-tab,
.customers-show .nav-tabs #notes-tab,
.loads-show .nav-tabs #notes-tab {
  background: #767e83;
}

.carriers-show .nav-tabs a,
.customers-show .nav-tabs a,
.loads-show .nav-tabs a {
  font-weight: bold;
  color: white;
  cursor: pointer !important;
}

.carriers-show .history-card-header,
.customers-show .history-card-header,
.loads-show .history-card-header {
  background: #dfcceb !important;
}

.carriers-show .accounting-card-header,
.customers-show .accounting-card-header,
.loads-show .accounting-card-header {
  background: #999999 !important;
}

.carriers-show .tab-pane,
.customers-show .tab-pane,
.loads-show .tab-pane {
  margin-top: 10px;
}

.carriers-show .tab-pane .card-header,
.customers-show .tab-pane .card-header,
.loads-show .tab-pane .card-header {
  background: #ebcccc;
}

.carriers-show .tab-pane .tab-item,
.customers-show .tab-pane .tab-item,
.loads-show .tab-pane .tab-item {
  margin-top: 5px;
}

.carriers-show .tab-pane .insurance-policy .card,
.customers-show .tab-pane .insurance-policy .card,
.loads-show .tab-pane .insurance-policy .card {
  padding: 2px;
}

.loads-show .shipper-cards .card-header {
  background: #c4e3f3 !important;
}

.loads-show .shipper-cards .card-body {
  background: #bee9ff !important;
}

.loads-show .carrier-cards .shipper-info .card-body {
  background: #ebcccc;
}

.customers-show .card-header {
  background: #d0e9c6 !important;
}

.customers-show .card col-md-4 {
  padding-bottom: 5px;
}

.customer-create .customerPanel {
  background: #d0e9c6;
  padding: 5px;
  margin-top: 10px;
}

.panelTitleLinkContainer {
  text-align: right;
  font-size: 12px;
  padding-top: 5px;
}

.panelTitleLinkContainer .panelTitleLinkContainer a {
  margin-left: 10px;
}

#createLoadModal .modal-dialog {
  position: initial;
}

.has-notification {
  color: red;
}

#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.ck-editor__editable_inline {
  height: 250px;
}

.document-delete,
.document-edit {
  color: #428bca;
  cursor: pointer;
}

